#bear {
    position: absolute;
    left: 562.25px;
    top: 240px;
    width: 75px;
    height: 120px;
}

#board {
    position: absolute;
    height: 600px;
    width: 1200px;
    background-color: rgb(6, 136, 119);
    align-content: center;
    align-self: center;
}

#title {
    background-color: rgb(221, 215, 215);
    align-content: center;
    align-self: center;
}

#scores {
    background-color: rgb(247, 134, 241);
    align-content: center;
    align-self: center;
}

.location {
    color: green;
}

#hits {
    color: red;
}

#duration {
    color: blue;
}

button {
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 3px;
}

button:hover {
    background-color:bisque;
}